@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
ul, li{
  display: block;

}
body {
  font-family: "TT Firs Neue";
  font-weight: 500;
  font-size: 18px;
  
  height: 100%;
}

.header {
  position: relative;
  padding: 32px 24px;
  min-height: 900px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.logo {
  width: 129px;
  height: 32px;
}
.nav__list {
  display: flex;
  column-gap: 40px;
  font-size: 16px;
  line-height: 24px;
  
}
.nav__list a{
  color: #6F767E;
  text-decoration: none;
}
.nav__language {
}
.language__items {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: center;
}
.link__active{
  text-decoration: none;
  visibility: visible;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.link__deactive{
  text-decoration: none;
  visibility: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}